---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import Boks from "../components/Boks.astro"
import Produkt from "../components/Produkt.astro"
---

<Nav />
<main>
<Boks />
<Produkt />
</main>
<Footer />