---
import BaseLayout from "../layouts/BaseLayout.astro"
import Product from "../components/Product.astro"
---

<BaseLayout> 
<h1 class="lokaler">7 LOKALER</h1>
<p class="sorter"> SORTER EFTER: ANBEFALET </p>
<Product
  image="https://via.placeholder.com/400x200"
  by="Frederikssund"
  pris="Fra 1300 kr."
  personer="Max. 30"
  kanLejes="Alle"
  />

  <Product 
  image="https://via.placeholder.com/400x200"
  by="Ballerup"
  pris="Fra 1.400 kr."
  personer="Max. 20"
  kanLejes="Beboere"
  />

  <Product 
  image="https://via.placeholder.com/400x200"
  by="Ballerup"
  pris="Fra 3.100 kr."
  personer="Max. 50"
  kanLejes="Beboere"
  />
  <Product 
  
  image="https://via.placeholder.com/400x200"
  by="Melby"
  pris="Fra 1.600kr."
  personer="Max. 50"
  kanLejes="Beboere"
  />
  <Product 
  image="https://via.placeholder.com/400x200"
  by="Frederikssund"
  pris="Fra 1.800 kr."
  personer="Max. 40"
  kanLejes="Beboere"
  />
  <Product 
  image="https://via.placeholder.com/400x200"
  by="Helsinge"
  pris="Fra 2.800 kr."
  personer="Max. 40"
  kanLejes="Beboere"
  />
  <Product 
  image="https://via.placeholder.com/400x200"
  by="Ballerup"
  pris="Fra 6.100 kr."
  personer="Max. 40"
  kanLejes="Alle"
  />
 

</BaseLayout>


<style>
    .lokaler{
font-family: Whyte Inktrap;
    }

    .sorter{
        font-family: Whyte Inktrap;
    }

    
    
</style>
