---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro"
---
<BaseLayout>
<Nav />
<section>

<div class="test">


<div class="lokale_grid">

<div class="container">
<img src="/public/centerhuset.webp" alt="Centerhuset">
</div>
<h1>CENTERHUSET</h1>

<div class="pris-info">
  <div class="info">By:</div>
  <div class="info">3600<br>Frederikssund</div>

  <div class="info">Pris:</div>
  <div class="info">Hverdage / 1.300 kr.<br>Weekend / 1.400 kr.</div>

  <div class="info">Personer:</div>
  <div class="info">Max. 30</div>

<div class="info">Kan lejes af:</div>
<div class="info">Alle</div>
</div>

<button class="knap">RESERVER</button>
</div>

</div>

</div>

<div class="streg"></div>

<div class="feature-wrap">
<p class="undertitel">Om lokalet</p>

<p class="text_beskrivelse">Vi står for den daglige drift af vores boligafdelinger og sikrer, at bygningerne bliver passet godt på. Samtidig lægger vi stor vægt på nærværende service og tydelig kommunikation, så både nye og nuværende beboere oplever professionel hjælp og tryghed i deres hverdag hos os.</p>
</div>

</section>

<style>
section {
    margin: 8px;
}

.container {
display: flex;
justify-content: center;
margin-bottom: 24px;
}

img {
width: 374px;
height: 374px;
object-fit: cover;
justify-content: center;
}

h1 {
font-size: 40px;
font-family: "Whyte Inktrap";
font-weight: 500;
line-height: 96%;
margin-bottom: 64px;
}

.pris-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 24px;
}

.knap {
  background-color: #5D4E46;
  color: #fbfbfb;
  border: none;
  padding: 16px 28px;
  font-size: 16px;
  font-family: "Whyte Mono Inktrap";
  margin-bottom: 48px;
}

.streg {
border-top: 1px solid #d9d9d9;
margin-bottom: 24px;
}


.undertitel {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 32px;
}

.text_beskrivelse {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 80px;
}

@media (min-width: 750px) {
section {
    margin: 24px;
}

h1 {
    font-size: 72px;
    margin-bottom: 144px;
}

.info {
  font-size: 24px;
  margin-bottom: 24px;
}

.pris-info {
    margin-bottom: 56px;
}

.container {
margin-bottom: 24px;
}

img {
width: 688px;
height: 740px;
object-fit: cover;
}

.test{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.feature-wrap {
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 248px;
}

.text_beskrivelse {
  font-size: 24px;
  text-indent: 112px;
}

}

</style>

<Footer />
</BaseLayout>