---
import BaseLayout from "../layouts/BaseLayout.astro";
import Box from "../components/Box.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Footerd from "../components/Footerd.astro";
import Navd from "../components/Navd.astro";
---
<BaseLayout>
<Nav />
<Navd />
<section>

<h1>ARBEJDET OG<br>MENNESKERNE<br>BAG VORES BOLIG</h1>

<div class="streg"></div>

<p class="undertitel">Om os</p>

<p class="text_oppe">Vores Bolig er et alment boligselskab, der arbejder for at skabe trygge og bæredygtige rammer for mennesker i alle livsfaser. Vi udlejer boliger og lokaler med fokus på kvalitet, tryghed, stabilitet og en økonomi, der er til at betale, fordi vores arbejde bygger på et non-profit princip, hvor beboernes behov altid kommer først. </p>

<p class="text_under">Vi står for den daglige drift af vores boligafdelinger og sikrer, at bygningerne bliver passet godt på. Samtidig lægger vi stor vægt på nærværende service og tydelig kommunikation, så både nye og nuværende beboere oplever professionel hjælp og tryghed i deres hverdag hos os.</p>

<div class="container_venstre">
<img class="billede" src="/public/poster.webp" alt="Poster">
</div>

<div class="container_right">
<img class="billede" src="/public/frame.webp" alt="Poster">
</div>

<h2>VORES<br>FAMILIE</h2>

<div class="streg"></div>

<p class="undertitel">Team</p>

<p class="text_under">Vores Bolig består af over 60 medarbejdere, som hver dag arbejder for at skabe trygge, stabile og velfungerende hjem for vores beboere. Nogle arbejder med ledelse, planlægning og udvikling af nye projekter, mens andre sørger for den daglige drift, koordinering og beboerservice. Vi har teams, der hjælper ved renoveringer og genhusning, og servicehold der passer udeområder, bygninger og tekniske installationer. Sammen tager vi hånd om både de store linjer og de små detaljer, så vores beboere får en god oplevelse</p>

<Box
number="01"
  title="Direktør"
  lines={[
    "Kim Brokmann",
  ]}
/>

<Box
number="02"
  title="Sekretariatschef"
  lines={[
    "Britt Randrup",
  ]}
/>

<Box
number="03"
  title="Driftschef"
  lines={[
    "Elvir Vejo",
    { text: "Ballerup, Egedal, Søllerød", dim: true },
        "Jesper Kristensen",
    { text: "Halsnæs", dim: true },
        "Kim Raagaard",
    { text: "Helsinge", dim: true },
        "Palle Thomsen",
    { text: "Frederikssund", dim: true },
  ]}
/>

<Box
number="04"
  title="Projektleder"
  lines={[
    "Brain Bøgelund Hansen",
    { text: "Projekter Drift", dim: true },
  ]}
/>

<Box
number="05"
  title="Driftskoordinator"
  lines={[
    "Rikke Larsen",
    { text: "Frederikssund", dim: true },
        "Sofie Stenholt Støckel",
    { text: "Ballerup, Egedal, Søllerød", dim: true },
        "Johnny Bjørklund",
    { text: "Ballerup, Egedal, Søllerød", dim: true },
  ]}
/>

<Box
number="06"
  title="Servicekoordinator"
  lines={[
    "Birgitte Kjær",
    { text: "Frontoffice", dim: true },
        "Helle Hansen",
    { text: "Frontoffice", dim: true },
        "Marianne Ulf Petersen",
    { text: "Frontoffice", dim: true },
        "Flemming Hou Christiansen",
    { text: "Frontoffice", dim: true },
  ]}
/>

<Box
number="07"
  title="Projektchef"
  lines={[
    "Kaare Holm Madsen",
    { text: "Helhedsplaner", dim: true },
  ]}
/>

<Box
number="08"
  title="Genhusningskonsulent"
  lines={[
    "Thomas Bak",
    { text: "Helhedsplaner", dim: true },
  ]}
/>

<Box
number="09"
  title="Blå Service"
  lines={[
    "Tim Nielsen",
    { text: "Halsnæs", dim: true },
        "Morten Nielsen",
    { text: "Helsinge", dim: true },
        "Casper Lumsås",
    { text: "Helsinge", dim: true },
        "Kim Sohn Hansen",
    { text: "Frederikssund", dim: true },
        "Jesper Will Hansen",
    { text: "Frederikssund", dim: true },
        "Michael Valdemar Larsen",
    { text: "Frederikssund", dim: true },
        "Michael Klejn",
    { text: "Frederikssund", dim: true },
        "Silver Simon Kracunovic",
    { text: "Frederikssund", dim: true },
        "Lars Petersen",
    { text: "Egedal, Søllerød", dim: true },
        "Peter Balslev Hoffmann",
    { text: "Egedal, Søllerød", dim: true },
        "Thomas Gjetting",
    { text: "Ballerup, Egedal", dim: true },
        "Niels Jørgen Villekjær",
    { text: "Ballerup, Egedal", dim: true },
        "Ole Blem Nielsen",
  ]}
/>

<Box
number="10"
  title="Grøn Formand"
  lines={[
    "Stig Jensen",
    { text: "Frederikssund, Græse", dim: true },
        "Brian Holger Nielsen",
    { text: "Helsinge, Halsnæs", dim: true },
        "Mads Bardino Petersen",
    { text: "Ballerup, Egedal", dim: true },
  ]}
/>

<Box
number="11"
  title="Grøn Service"
  lines={[
    "Henrik Mortensen Breiling",
    { text: "Frederikssund", dim: true },
        "Kim Persson",
    { text: "Frederikssund", dim: true },
        "Tom Meisler Nielsen",
    { text: "Frederikssund, Græse", dim: true },
        "John Persson",
    { text: "Frederikssund, Græse", dim: true },
        "Yuzdzhan V. Veli",
    { text: "Helsinge", dim: true },
        "Claus Nielsen",
    { text: "Helsinge", dim: true },
        "Piotr Antoni Borek",
    { text: "Helsinge", dim: true },
        "Sylwia Monika Borek",
    { text: "Helsinge", dim: true },
        "Rene Bjerggard Hansen",
    { text: "Halsnæs", dim: true },
        "Emrah Velyahtin Veli",
    { text: "Halsnæs", dim: true },
        "Laurits Olsen",
    { text: "Halsnæs", dim: true },
        "Diderich Løvschal Diderichsen",
    { text: "Halsnæs", dim: true },
        "William Sveistrup Mogensen",
    { text: "Ballerup", dim: true },
        "Martin Olesen",
    { text: "Ballerup", dim: true },
        "Kristian Kjøller Bloch Gregersen",
    { text: "Ballerup", dim: true },
        "Kristian Nielsen",
    { text: "Ballerup", dim: true },
  ]}
/>

</section>

<style>

section {
        margin: 8px;
    }

h1 {
    font-size: 40px;
    font-family: "Whyte Inktrap";
    font-weight: 500;
    line-height: 96%;
    margin-bottom: 48px;
}

.streg {
    border-top: 1px solid #d9d9d9;
    margin-bottom: 24px;
}

.undertitel {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 32px;
}

.text_oppe {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 24px;
}

.text_under {
  font-size: 16px;
  font-family: "Whyte";
  margin-bottom: 80px;
}

.container_venstre {
    display: flex;
    justify-content: left;
    margin-bottom: 24px;
}

.billede {
    width: 279px;
    height: 372px;
}

.container_right {
    display: flex;
    justify-content: right;
    object-fit: cover;
    margin-bottom: 120px;
}

h2 {
    font-size: 64px;
    font-family: "Whyte Inktrap";
    font-weight: 500;
    line-height: 96%;
    margin-bottom: 48px;
}
:global(.footerDesktop) {
  display: none;
}

:global(.footerMobile) {
  display: block;
}
:global(.navd) { display: none !important; }
:global(.nav)  { display: flex !important; }

@media (min-width: 750px) {
  :global(.footerDesktop) {
    display: block;
  }

  :global(.footerMobile) {
    display: none;
  }
  :global(.navd) { display: grid !important; }
  :global(.nav)  { display: none !important; }
}
</style>


<Footer />
<Footerd />
</BaseLayout>