<section>

<div class="streg"></div>

<div class="kontakt">
    <p class="kontakt_header">KONTAKT</p>

    <p class="kontakt_tekst">
                Vores Bolig<br />
        Heimdalsvej 7C<br />
        3600 Frederikssund
    </p>

    <p class="kontakt_tekst">
        vb@voresbolig.dk<br />
        43 40 36 00
    </p>

    <div class="footer_col">

        <p class="kontakt_header"> MENU</p>

        <nav class="footer_menu">
            <a href="/">Forside</a>
             <a href="../pages/lokaler.astro">Lokaler</a>
              <a href="../pages/info.astro">Info</a>
                 <a href="../pages/om.astro">Om os</a>
                      <a href="../pages/kontakt.astro">Kontakt</a>
        </nav>
    </div>

</div>
</section>
<style>

body {
    margin-inline: 0;
}

section {
    background-color: #5D4E46;
    color: #fbfbfb;
    padding: 8px;
}

.streg {
    border-top: 1px solid #fbfbfb;
    margin-bottom: 24px;
    padding: 0px;
}

.kontakt_header {
    font-size: 12px;
    font-family: "Whyte Mono Inktrap";
    margin-bottom: 24px;
}

.kontakt_tekst {
    font-size: 16px;
    font-family: "Whyte";
    margin-bottom: 16px;
}

</style>