<section class="infoDesktop">
  <div class="infoRow">
    <div class="infoTitle">Ingen ejendomsværdiskat</div>
    <div class="infoText">
      Du slipper for ejendomsværdiskat og mister ikke penge, hvis
      ejendomspriserne er faldet, den dag du vil fraflytte dit lejemål.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Ingen vedligeholdelser</div>
    <div class="infoText">
      Du skal ikke vedligeholde bygninger, grønne områder, døre,
      vinduer, vandhaner, radiatorer o. lign. Det gør vi for dig.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Ingen bygningsforsikring</div>
    <div class="infoText">
      Du slipper for at tegne en bygningsforsikring. Du skal dog selv
      tegne en indboforsikring, hvis dine ejendele skal være dækket i
      tilfælde af brand, tyveri m.v.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Ingen ekstraudgifter</div>
    <div class="infoText">
      Du får ingen ekstraudgifter, hvis toilettet går i stykker, eller
      taget bliver utæt.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Huslejen dækker boligudgift</div>
    <div class="infoText">
      Huslejen dækker hele din boligudgift, bortset fra forbrugsafgifter.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Tryghed</div>
    <div class="infoText">
      Du får tryghed i hverdagen.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Indflydelse</div>
    <div class="infoText">
      Du får indflydelse på ejendommens drift via beboerdemokratiet.
    </div>
  </div>

  <div class="infoRow">
    <div class="infoTitle">Boligsikring og indskudslån</div>
    <div class="infoText">
      Du kan, hvis du har eller får behov for det, søge boligsikring og
      indskudslån hos kommunen.
    </div>
  </div>
</section>

<style>

@media (min-width: 750px) {
  .infoDesktop {
    display: block;
    margin-left: 150px;
    max-width: 1100px;
  }

  .infoRow {
    display: grid;
    grid-template-columns: 420px 1fr;
    column-gap: 120px;
    margin-bottom: 48px;
  }

  .infoTitle {
    font-family: "Whyte";
    font-size: 24px;
    font-weight: 300;
  }

  .infoText {
    font-family: "Whyte";
    font-size: 24px;
    line-height: 1.4;
    max-width: 680px;
    font-weight: 300;
  }
}
</style>
