    ---
    const { color = "#040404", logo = "/logo_sort.webp" } = Astro.props;
    const currentPath = Astro.url.pathname;

    const isActive = (path: string): boolean => {
    if (path === "/") return currentPath === "/" || currentPath === "/index";
    return currentPath === path;
    };
    ---

    <nav class="navd" style={`--nav-color: ${color}`}>
    <div class="navd__left">
        <a href="/" class="navd__brand">VORES BOLIG</a>
    </div>

    <div class="navd__center">
        <a href="/" aria-label="Forside">
        <img src={logo} alt="Logo" class="navd__logo" />
        </a>
    </div>
    <div class="navd__lang">ENG</div>
    <div class="navd__right">
    

        <div class="navd__links" aria-label="Desktop menu">
        <a href="/lokaler" class:list={{ navd__active: isActive("/lokaler") }}>LOKALER</a>
        <a href="/info" class:list={{ navd__active: isActive("/info") }}>INFO</a>
        <a href="/om" class:list={{ navd__active: isActive("/om") }}>OM OS</a>
        <a href="/kontakt" class:list={{ navd__active: isActive("/kontakt") }}>KONTAKT</a>
        </div>
    </div>
    </nav>

    <style>
    .navd {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        column-gap: 24px;
        align-items: center;
        padding: 12px 24px;
        margin-bottom: 80px;
        color: var(--nav-color);
    }
    
    .navd__lang {
    justify-self: center;
    transform: translateX(-80px); 
    }
    .navd__brand,
    .navd__lang,
    .navd__links a {
        font-family: "Whyte Mono Inktrap";
        font-size: 16px;
        font-weight: 300;
        color: var(--nav-color);
        text-decoration: none;
        letter-spacing: 0.02em;
    }
    .navd__links a::after {
    content: ",";
    margin-left: px;
    }

    .navd__links a:last-child::after {
    content: "";
    }
    .navd__left {
        justify-self: start;
    }

    .navd__center {
        justify-self: center;
    }

    .navd__right {
        justify-self: end;
        display: block;
    }

    .navd__logo {
        width: 30px;
        height: 30px;
        display: block;
        transform: translateX(-50px); 
    }

    .navd__links {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    /* underline only active page */
    .navd__links a.navd__active {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
    </style>
