<section class="team-desktop">

  <div class="row">
    <div class="role">Direktør</div>
    <div class="people">
      <div>Kim Brokmann</div>
    </div>
  </div>

  <div class="row">
    <div class="role">Sekretariatschef</div>
    <div class="people">
      <div>Britt Randrup</div>
    </div>
  </div>

  <div class="row">
    <div class="role">Driftschef</div>
    <div class="people">
      <div>Elvir Vejo <span>/ Ballerup, Egedal, Søllerød</span></div>
      <div>Jesper Kristensen <span>/ Halsnæs</span></div>
      <div>Kim Raagaard <span>/ Helsinge</span></div>
      <div>Palle Thomsen <span>/ Frederikssund</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Projektleder</div>
    <div class="people">
      <div>Brian Bøgelund Hansen <span>/ Projekter Drift</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Driftskoordinator</div>
    <div class="people">
      <div>Rikke Larsen <span>/ Frederikssund</span></div>
      <div>Sofie Stenholt Støckel <span>/ Ballerup, Egedal, Søllerød</span></div>
      <div>Johnny Bjørklund <span>/ Ballerup, Egedal, Søllerød</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Servicekoordinator</div>
    <div class="people">
      <div>Birgitte Kjær <span>/ Frontoffice</span></div>
      <div>Helle Hansen <span>/ Frontoffice</span></div>
      <div>Marianne Ulf Petersen <span>/ Frontoffice</span></div>
      <div>Flemming Hou Christiansen <span>/ Frontoffice</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Projektchef</div>
    <div class="people">
      <div>Kaare Holm Madsen <span>/ Helhedsplaner</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Genhusningskonsulent</div>
    <div class="people">
      <div>Thomas Bak <span>/ Helhedsplaner</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Blå Service</div>
    <div class="people">
      <div>Tim Nielsen <span>/ Halsnæs</span></div>
      <div>Morten Nielsen <span>/ Helsinge</span></div>
      <div>Casper Lumsås <span>/ Helsinge</span></div>
      <div>Kim Sohn Hansen <span>/ Frederikssund</span></div>
      <div>Jesper Will Hansen <span>/ Frederikssund</span></div>
      <div>Michael Valdemar Larsen <span>/ Frederikssund</span></div>
      <div>Michael Klejn <span>/ Frederikssund</span></div>
      <div>Silver Simon Kracunovic <span>/ Frederikssund</span></div>
      <div>Lars Petersen <span>/ Egedal, Søllerød</span></div>
      <div>Peter Balslev Hoffmann <span>/ Egedal, Søllerød</span></div>
      <div>Thomas Gjetting <span>/ Ballerup, Egedal</span></div>
      <div>Niels Jørgen Villekjær <span>/ Ballerup, Egedal</span></div>
      <div>Ole Blem Nielsen</div>
    </div>
  </div>

  <div class="row">
    <div class="role">Grøn Formand</div>
    <div class="people">
      <div>Stig Jensen <span>/ Frederikssund, Græse</span></div>
      <div>Brian Holger Nielsen <span>/ Helsinge, Halsnæs</span></div>
      <div>Mads Bardino Petersen <span>/ Ballerup, Egedal</span></div>
    </div>
  </div>

  <div class="row">
    <div class="role">Grøn Service</div>
    <div class="people">
      <div>Henrik Mortensen Breiling <span>/ Frederikssund</span></div>
      <div>Kim Persson <span>/ Frederikssund</span></div>
      <div>Tom Meisler Nielsen <span>/ Frederikssund, Græse</span></div>
      <div>John Persson <span>/ Frederikssund, Græse</span></div>
      <div>Yuzdzhan V. Veli <span>/ Helsinge</span></div>
      <div>Claus Nielsen <span>/ Helsinge</span></div>
      <div>Piotr Antoni Borek <span>/ Helsinge</span></div>
      <div>Sylwia Monika Borek <span>/ Helsinge</span></div>
      <div>Rene Bjerggard Hansen <span>/ Halsnæs</span></div>
      <div>Emrah Velyahtin Veli <span>/ Halsnæs</span></div>
      <div>Laurits Olsen <span>/ Halsnæs</span></div>
      <div>Diderich Løvschal Diderichsen <span>/ Halsnæs</span></div>
      <div>William Sveistrup Mogensen <span>/ Ballerup</span></div>
      <div>Martin Olesen <span>/ Ballerup</span></div>
      <div>Kristian Kjøller Bloch Gregersen <span>/ Ballerup</span></div>
      <div>Kristian Nielsen <span>/ Ballerup</span></div>
    </div>
  </div>

</section>

<style>
.team-desktop{
  margin-left: 240px;
  margin-right: 120px;
  font-family: "Whyte";
  font-size: 24px;
  line-height: 1.35;
  color: #040404;
}

.row{
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 120px;
  margin-bottom: 28px;
}

.role{
  font-weight: 400;
}

.people div{
  margin: 0;
}

.people span{
  opacity: 0.45;
  font-weight: 300;
}
</style>
