* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  color: #040404;
  margin-inline: 24px;
}

/***********FONTS***********/
@font-face {
  font-family: "Whyte Inktrap";
  src: url(../public/ABCWhyteInktrapVariable-Trial.woff2) format("woff2");
}

@font-face {
  font-family: "Whyte";
  src: url(../public/ABCWhyteVariable-Trial.woff2) format("woff2");
}

@font-face {
  font-family: "Whyte Mono Inktrap";
  src: url(../public/ABCWhyteMonoInktrapVariable-Trial.woff2) format("woff2");
}
/***********FONTS***********/
